.admin-info-strip-wrapper {
    background: rgba($color: var(--lavender-blue-rgb), $alpha: 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 2em;
    border: 1px dotted var(--jet);
    border-radius: 0.2em;
    margin-right: 1em;

    .admin-info-strip {
        margin: 0;

        .avatar {
            width: 15em;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            border: 2px solid var(--jet);
        }

        .admin-name {
            font-size: 2em;
            margin-bottom: 0;
        }

        .admin-handle {
            color: rgba($color: var(--jet-rgb), $alpha: 0.6);
            font-size: 1.5em;
            margin-top: 0.1em;
        }

        .admin-position {
            color: var(--jet);
            margin-top: 5em;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 1100px) {
    .admin-info-strip-wrapper .admin-info-strip {
        .avatar {
            width: 11em;
        }

        .admin-name {
            font-size: 1.7em;
        }

        .admin-handle {
            font-size: 1.3em;
        }

        .admin-position h3 {
            font-size: 1em;
            margin: 0.6em 0;
        }
    }
}
