.admin-info-strip-wrapper {
    background: rgba($color: var(--lavender-blue-rgb), $alpha: 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 2em;
    border: 1px dotted var(--jet);
    border-radius: 0.2em;
    margin-right: 1em;

    .admin-info-strip {
        margin: 0;

        .avatar {
            width: 15em;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            border: 2px solid var(--jet);
        }

        .admin-name {
            font-size: 2em;
            margin-bottom: 0;
        }

        .admin-handle {
            color: rgba($color: var(--jet-rgb), $alpha: 0.6);
            font-size: 1.5em;
            margin-top: 0.1em;
        }

        .admin-position {
            color: var(--jet);
            margin-top: 3em;
            text-decoration: underline;

            h3 {
                margin: 0.3em 0;
            }
        }

        .edit-profile-button {
            display: block;
            width: 100%;
            font-size: 1em;
            margin: 3em auto 0;
            padding: 0.4em 0;
            border: 1px solid rgba($color: var(--jet-rgb), $alpha: 0.25);
            background: rgba($color: var(--dark-blizzard-blue-rgb), $alpha: 0.4);
            color: var(--jet);
            border-radius: 0.3em;
            transition: all 0.2s;
            font-weight: bold;
            transition-property: border background color;
            cursor: pointer;

            &:hover {
                border: 1px solid rgba($color: var(--jet-rgb), $alpha: 0.5);
                background: rgba($color: var(--dark-blizzard-blue-rgb), $alpha: 0.6);
                color: black;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .admin-info-strip-wrapper .admin-info-strip {
        .avatar {
            width: 11em;
        }

        .admin-name {
            font-size: 1.7em;
        }

        .admin-handle {
            font-size: 1.3em;
        }

        .admin-position h3 {
            font-size: 1em;
            margin: 0.6em 0;
        }
    }
}
