.admin-edit-profile-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;

    .form {
        width: 60%;
        margin-top: 1.2em;
        padding-bottom: 3.5em;

        .form-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;

            .left-group {
                display: flex;
                justify-content: stretch;

                img.back-nav {
                    height: 2em;
                    padding: 0.3em;
                    border-radius: 50%;
                    margin: auto 0;
                    transition: background 0.2s;
                    cursor: pointer;

                    &:hover {
                        background: rgba($color: var(--jet-rgb), $alpha: 0.1);
                    }
                }

                h2 {
                    margin-left: 0.7em;
                    font-size: 1.7em;
                    padding-bottom: 0.2em;
                }
            }

            button {
                height: fit-content;
                margin: auto 0;
                font-size: 1em;
                padding: 0.5em 1.2em;
                border-radius: 2em;
                border: 1px solid var(--blizzard-blue);
                background: var(--blizzard-blue);
                color: white;
                font-weight: bold;

                &:hover {
                    filter: brightness(0.93);
                }
            }
        }

        .form-body {
            .field {
                position: relative;
                height: min-content;
                margin-bottom: 1em;

                .description {
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    width: calc(100% - 2rem);
                    margin: 0 1rem;
                    top: 0.5em;

                    span.input-name {
                        transition: color 0.1s;
                    }

                    span.input-limit {
                        opacity: 0;
                        transition: opacity 0.1s;
                    }
                }

                input {
                    display: block;
                    width: calc(100% - 2rem);
                    height: 1.6em;
                    padding: 0.5em 1rem;
                    padding-top: 1.7em;
                    font-size: 1.3em;
                    border-radius: 0.3em;
                    border: 1px solid rgba($color: var(--jet-rgb), $alpha: 0.4);
                }

                textarea {
                    resize: none;
                    width: calc(100% - 2rem);
                    font-size: 1.3em;
                    padding: 0.5em 1rem;
                    padding-top: 1.7em;
                    height: 6.5em;
                    border-radius: 0.3em;
                    border: 1px solid rgba($color: var(--jet-rgb), $alpha: 0.4);
                }

                &.focused {
                    .description {
                        span.input-name {
                            color: var(--dark-blizzard-blue);
                        }

                        span.input-limit {
                            opacity: 1;
                        }
                    }

                    input,
                    textarea {
                        border: 1px solid var(--dark-blizzard-blue);
                        outline: 1px solid var(--dark-blizzard-blue);
                    }
                }

                &.error {
                    input,
                    textarea {
                        border: 1px solid var(--danger);
                    }

                    &.focused {
                        input,
                        textarea {
                            outline: 1px solid var(--danger);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1188px) {
    .admin-edit-profile-form {
        margin-top: 0;
    }
}

@media screen and (max-width: 1111px) {
    .admin-edit-profile-form .form {
        width: 80%;

        .form-body {
            .bio-field textarea {
                height: 10em;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .admin-edit-profile-form .form {
        .form-header .left-group h2 {
            font-size: 1.4em;
            margin-left: 0.4em;
        }

        .form-body .field {
            input,
            textarea {
                font-size: 1.2em;
            }
        }
    }
}
