.article-card {
    display: flex;
    justify-content: center;
    width: max-content;
    padding: 0.5em 1.5em;
    border: 1px solid black;
    border-radius: 0.4em;

    img {
        width: 10em;
        border-radius: 0.2em;
    }

    .content {
        padding: 0.5em;
        h3 {
            font-size: 1.8em;
            margin: 0;
        }

        .metadata {
            display: flex;
            position: absolute;

            .author {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: auto 0;

                img.author-avatar {
                    border-radius: 50%;
                    height: 2em;
                    width: 2em;
                }

                h4 {
                    display: inline;
                    margin: 0;
                    margin-left: 0.7em;
                }
            }
        }
    }
}
