.breif-news {
    padding-bottom: 3em;

    .header {
        width: max-content;
        margin: 1em auto;

        h1 {
            margin: 0;
        }
    }

    span {
        font-size: 1.5em;
        display: block;
        text-align: center;
    }
}
