.breif-about {
    padding-bottom: 7em;

    h1 {
        text-align: center;
    }

    .cards {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;

        .user-card {
            display: flex;
            width: auto;
            height: max-content;
            padding: 1em;
            margin: 0.5em;

            &.card-1 {
                margin-bottom: 7em;
                border: 2px dashed rgb(132, 198, 222);
            }

            &.card-2 {
                margin-top: 7em;
                border: 2px dashed rgb(170, 150, 249);
            }

            &.card-3 {
                margin-bottom: 7em;
                border: 2px dashed rgb(255, 101, 101);
            }

            &.card-4 {
                margin-top: 7em;
                border: 2px dashed rgb(124, 230, 164);
            }

            img {
                height: 9em;
                border-radius: 50%;
                margin: auto 0;
                border: 1px solid var(--jet);
            }

            .description {
                height: fit-content;
                margin: auto 0;
                padding-left: 1em;

                h2 {
                    margin: 0;
                    font-size: 1.8em;
                }
                h3 {
                    margin: 0;
                    margin-top: 0.2em;
                    color: var(--jet);
                }
                p {
                    margin: 0.4em 0;
                    width: 23em;
                }
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    .breif-about .cards .user-card {
        img {
            height: 7em;
        }

        .description {
            h2 {
                font-size: 1.4em;
            }
            h3 {
                font-size: 1em;
            }
            p {
                font-size: 0.9em;
            }
        }
    }
}

@media screen and (max-width: 1055px) {
    .breif-about {
        padding-bottom: 2.5em;

        .cards {
            display: block;

            .user-card {
                display: block;
                text-align: center;
                padding: 1em 2em;

                &.card-1,
                &.card-2,
                &.card-3,
                &.card-4 {
                    margin: 2em auto;
                }

                .description {
                    padding: 0;

                    p {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .breif-about .cards {
        .user-card {
            padding: 1em;

            &.card-1,
            &.card-2 {
                margin: 2em auto;
            }

            .description {
                padding: 0;

                h3 span {
                    display: block;
                }

                p {
                    width: 80vw;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
