.breif-about {
    padding-bottom: 7em;

    h1 {
        text-align: center;
    }

    .cards {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1055px) {
    .breif-about {
        padding-bottom: 2.5em;

        .cards {
            display: block;
        }
    }
}
