.home-main-header {
    font-size: 3.3em;
}

.home-sub-header {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--dark-blizzard-blue);
}

@media screen and (max-width: 880px) {
    .home-main-header {
        font-size: 2.6em;
    }

    .home-sub-header {
        font-size: 0.9em;
    }
}
