.login-options {
    h1 {
        font-size: 2em;
        margin: 3em auto 1em;
        color: var(--jet);
        text-align: center;
    }

    .method-selection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-height: 710px) {
    .login-options h1 {
        margin-top: 1em;
    }
}

@media screen and (max-width: 523px) and (max-height: 890px) {
    .login-options h1 {
        margin-top: 1em;
    }
}
