.logout-confirm-prompt {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    &:not(.show) {
        display: none;
    }

    .background {
        position: absolute;
        z-index: 998;
        background: rgba($color: rgb(0, 0, 0), $alpha: 0.9);
        height: 100%;
        width: 100%;
    }

    .message-box {
        background: var(--baby-powder);
        padding: 1.5em 2em;
        width: 23em;
        border-radius: 0.4em;
        color: var(--jet);
        z-index: 999;

        h2 {
            margin: 0;
        }

        p {
            margin: 0.4em 0 0;
        }

        .buttons {
            margin-top: 3em;
            display: flex;
            justify-content: right;

            button {
                font-size: 0.9em;
                padding: 0.7em 1.3em;
                margin: 0 0.5em;
                border-radius: 0.4em;
                border: none;

                &.cancel-btn {
                    background: none;
                    color: var(--jet);

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.logout-btn {
                    color: var(--baby-powder);
                    font-weight: bold;
                    background: var(--danger);
                    margin-right: 0;
                    transition: background 0.3s;

                    &:hover {
                        background: var(--danger-dark);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .logout-confirm-prompt .message-box {
        width: 70%;
    }
}
