.user-info-wrapper {
    padding-top: 7.5em;

    .user-info {
        position: relative;
        width: fit-content;
        padding: 2.5em 6em 1em;
        box-shadow: 0px 0px 7px 3px rgba($color: var(--jet-rgb), $alpha: 0.15);

        img {
            position: absolute;
            bottom: 89%;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 8em;
            border-radius: 50%;
            box-shadow: 0px 0px 7px 3px rgba($color: var(--jet-rgb), $alpha: 0.5);
        }

        ul {
            padding: 0;
            font-size: 1.2em;
            text-align: center;

            p {
                margin: 0;
                overflow-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .user-info-wrapper .user-info {
        width: 50vw;
        padding-left: 4em;
        padding-right: 4em;
    }
}
