:root {
    --jet: #353535;
    --light-gray: #d2d7df;
    --copper-rose: #bdbbb0;
    --baby-powder: #fcfffd;

    --tameiji-color: #84c6de;
    --fr0xty-color: #aa96f9;
    --makito-color: #ff6565;
    --arata-color: #7ce6a4;

    --nyanza: #d6f6dd;
    --lavender-blue: #dac4f7;
    --salmon-pink: #f4989c;
    --bisque: #ebd2b4;
    --blizzard-blue: #acecf7;
    --dark-blizzard-blue: #8fbae3;

    --danger: #ff2e3f;
    --danger-rgb: 255, 46, 63;
    --danger-dark: #b42732;
    --success: #00ff7f;
    --success-rgb: 0, 255, 127;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--copper-rose);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blizzard-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blizzard-blue);
}
